body {
    font-family: sans-serif;
    color: #444;
    position: relative;
}

h1,
h4 {
    text-transform: uppercase;
}

h4,
li {
    font-size: 20px;
}

h1,
h2,
h3 {
    color: #3D4E60;
}

h1 {
    font-size: 26px;
    font-style: italic;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    text-align: center;
}

p {
    line-height: 1.5;
    font-size: 22px;
}

li {
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

#author {
    font-size: 18px;
    font-style: italic;
}


/* footer p {
    font-size: 11px;
} */

#footer {
    font-size: 16px;
    margin-top: 20px;
}

.related {
    list-style: none;
}

aside {
    background-color: #f7f7f7;
    padding: 10px 0;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px;
}


/*stylin links*/

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: #1098ad;
    text-decoration: underline;
}

a:active {
    background-color: black;
    font-style: italic;
}

.post-img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.container {
    width: 800px;
    margin: 0 auto;
}

.reactions {
    position: absolute;
    bottom: 0;
    right: 0;
}