@import "./mixin";

/*Bio*/
.bio__section {
  @include towColumn($column-gap: 7.4rem, $row-gap: 0);
  }
  
  .bio__heading {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-70);
  }
  
  .bio__objective {
    font-family: var(--font-family-poppins);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-20);
    margin: 3rem 0 8rem;
  }
  
  .bio__name {
    font-weight: var(--font-weight-semi-bold);
  }
  
  .bio__almdrasa {
    color: var(--color-green);
  }
  
  .bio__links {
    font-size: 2.4rem;
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none;
  }
  .bio .say-hi-link {
    background-color: var(--color-link-bg);
    color: var(--color-white);
    padding: 0.7rem 4.7rem;
  }
  .bio .find-out-link {
    padding: 0.7rem 0;
    -webkit-margin-start: 1.4rem;
    margin-inline-start: 1.4rem;
  }
  
  @keyframes jump {
    0% {
      transform: translateY(0.5rem);
    }
    35% {
      transform: translateY(-0.5rem);
    }
  
    70% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .bio__arrow {
    display: inline-block;
    animation: jump 1s infinite alternate ease-in-out;
    font-weight: 900;
    font-size: var(--font-size-35);
  }
  
  .bio__pic-content {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-self: end;
    border-radius: 50%;
  }
  
  .bio__pic-content::before {
    content: "";
    position: absolute;
    background-color: var(--color-box-img);
    width: 100%;
    height: 46rem;
    z-index: -1;
    border-radius: 1.8rem;
    box-shadow: 2.17543px 8.7017px 38.0699px rgba(0, 0, 0, 0.15);
  }
  
  .bio__pic {
    width: 42.7rem;
  }
  
  /*Bio End*/