* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.course {
    border: 4px solid #000000;
    padding: 20px;
    border-radius: 3px;
    width: 600px;
    margin: 20px auto 0;
}

.course-title {
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    background-color: #0043ff;
    text-transform: uppercase;
    padding: 10px 0;
    margin-top: 0;
    border-radius: 3px;
    margin-bottom: 20px;
}

.course-img {
    border-radius: 3px;
    margin-bottom: 20px;
}

.course-price {
    font-size: 24px;
    margin-bottom: 5px;
}

.course-description {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
    margin-bottom: 5px;
}

.course-link:link, .course-link:visited {
    color: #000000;
}

.course-link:hover, .course-link:active {
    text-decoration: none;
}

.course-list-title {
    text-transform: capitalize;
    font-size: 16px;
    margin: 20px 0 5px;
}

.course-list {
    list-style: square;
    margin: 0 0 20px 20px;
}

.course-button {
    background-color: #0043ff;
    border: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background .3s;
}

.course-button:hover {
    background-color: #4777ff;
}